# =============== #
# Unity generated #
# =============== #
/Library
/obj
/Temp
/Logs
/UnityGenerated
/HostedData
/Assets/AssetBundlesResources
/Assets/AssetBundlesOutput
/Assets/StreamingAssets/*
!*.exe
!*.dll
# =========================== #
# Resharper / Rider generated #
# =========================== #
/.idea
/.vs
/*.apk
/*.sln
/Assets/3dPackages/KoshkinAssets
/Assets/3dPackages/KoshkinAssets/
/Assets/3dPackages/KoshkinAssets.meta

/Assets/Plugins/Editor/JetBrains

/Assets/Plugins/Editor/JetBrains.*

/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
/ExportedObj
/*.csproj
/*.userprefs
/*.unityproj
/*.svd
/*.pidb
/*.suo
/*.user
/*.booproj
/*.htm
# ===================================== #
# Koskins #
# ===================================== #
/Assets/Temp/*
/Assets/Temp
/Assets/Temp.meta
/Assets/Logs/
/Assets/3dPackages/KoshkinAssets/
/Assets/3dPackages/KoshkinAssets
/Assets/3dPackages/KoshkinAssets.meta
/Assets/Plugins/HierarchyPro/
/Assets/Plugins/HierarchyPro.meta
/Assets/Logs.meta



Build/Cooking.apk
Keystore/user.keystore
Build/CookingResolutionTest.apk
Build/

# ===================== #
# Bundles and Server Data #
# ===================== #
/ServerData
/RoyalAxe.sln.DotSettings
/UserSettings/EditorUserSettings.asset
